.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 0px 24px 96px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__rtS9O {
  display: flex;
  position: sticky;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  backdrop-filter: blur(8px);
  min-width: 0;
  -webkit-backdrop-filter: blur(8px);
  padding: 8px;
}
.freeBox__rtS9O > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.freeBox__rtS9O > :global(.__wab_flex-container) > *,
.freeBox__rtS9O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rtS9O > :global(.__wab_flex-container) > picture > img,
.freeBox__rtS9O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.svg___7BDwV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  height: 45px;
  width: 123px;
  flex-shrink: 0;
}
.freeBox__vRiBk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 47px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__biQmH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__x8Jxl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__mAgDu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__tEvZ7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__tEvZ7:global(.__wab_instance) {
    display: none;
  }
}
.svg___4Kuct {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__eYnVj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h1__wbZep {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 32px;
  text-align: center;
  margin-top: calc(188px + 0px) !important;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__wbZep {
    margin-top: calc(188px + 0px) !important;
  }
}
.text__tXdBf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 30px;
  min-width: 0;
}
.svg__hyr5O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 128px;
  height: 128px;
  margin-top: calc(96px + 0px) !important;
  flex-shrink: 0;
}
.freeBox___628Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(146px + 0px) !important;
  min-width: 0;
  padding: 8px;
}
.freeBox__o2LZv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  margin-right: 46px;
  min-height: 0;
  padding: 25px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o2LZv {
    margin-right: 0px;
  }
}
.freeBox__lBxZn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  max-width: 100%;
  background: #ffffff;
  flex-shrink: 0;
  border-radius: 999px;
  padding: 8px;
}
.text__qHjXq {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
  font-size: var(--token-JUtwv23tZBen);
}
.freeBox__y8Cuv {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3px;
  height: auto;
  max-width: 100%;
  left: 31px;
  top: -200px;
  background: linear-gradient(
      0deg,
      #ffffff00 0%,
      #ffffff40 29%,
      #ffffff40 71%,
      #ffffff00 100%
    )
    0% 0% / 100% 100% repeat;
  bottom: -200px;
}
.freeBox__dgbi0 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1098px;
  height: auto;
  max-width: 100%;
  min-height: 400px;
  grid-row-gap: 64px;
  grid-column-gap: 32px;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dgbi0 {
    grid-template-columns: 1fr;
  }
}
.freeBox__ivIlx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  padding: 8px;
}
.reveal__muDm5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2__rxg1T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 21px;
  min-width: 0;
}
.text__cHlB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-JUtwv23tZBen);
  min-width: 0;
}
.freeBox__nu0Kx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__qoCOx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 0px;
  height: 0px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.img__oqWAp {
  object-fit: cover;
  width: 900px;
  height: 900px;
  flex-shrink: 0;
}
.img__oqWAp > picture > img {
  object-fit: cover;
}
.freeBox__hpkKj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
  padding: 8px;
}
.reveal__obIy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__br9Z6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.img__mngzx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 50px;
  flex-shrink: 0;
}
.img__mngzx > picture > img {
  object-fit: cover;
}
.text__ddP9N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 72px;
  background: linear-gradient(0deg, #ae609e 0%, #f2d599 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: #eeeeee00;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.text__bW4I6 {
  position: relative;
  font-size: var(--token-JUtwv23tZBen);
}
.freeBox__oQwpz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
  padding: 8px;
}
.reveal__fBcEh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__iV2Yy {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__iV2Yy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__iV2Yy > :global(.__wab_flex-container) > *,
.freeBox__iV2Yy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iV2Yy > :global(.__wab_flex-container) > picture > img,
.freeBox__iV2Yy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3__qJcaM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__doyW3 {
  position: relative;
}
.button__pNr6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg__dQLur {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___72Bqa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__jVvtp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(146px + 0px) !important;
  min-width: 0;
  padding: 8px;
}
.freeBox__jba1O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  margin-right: 46px;
  min-height: 0;
  padding: 25px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jba1O {
    margin-right: 0px;
  }
}
.freeBox__fwCN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  max-width: 100%;
  background: #ffffff;
  flex-shrink: 0;
  border-radius: 999px;
  padding: 8px;
}
.text__xRXhV {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
  font-size: var(--token-JUtwv23tZBen);
}
.freeBox__tBnG3 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3px;
  height: auto;
  max-width: 100%;
  left: 31px;
  top: -200px;
  background: linear-gradient(
      0deg,
      #ffffff00 0%,
      #ffffff40 29%,
      #ffffff40 71%,
      #ffffff00 100%
    )
    0% 0% / 100% 100% repeat;
  bottom: -200px;
}
.freeBox__aj2Hr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1098px;
  height: auto;
  max-width: 100%;
  min-height: 400px;
  grid-row-gap: 64px;
  grid-column-gap: 32px;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aj2Hr {
    grid-template-columns: 1fr;
  }
}
.freeBox__pVFjd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  grid-column-end: span 2;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pVFjd {
    grid-column-end: span 1;
  }
}
.reveal__lPaxd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2__gi8Sy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 21px;
  min-width: 0;
}
.text__jQrkw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 688px;
  font-size: var(--token-JUtwv23tZBen);
  min-width: 0;
}
.freeBox__hSmG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  max-width: 100%;
  grid-column-end: span 2;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hSmG {
    grid-column-end: span 1;
  }
}
.reveal__xwmZ7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
}
.freeBox__q1C95 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
  padding: 8px;
}
.reveal__kPVgU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__eo5A1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.img__xeMli {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 175px;
}
.img__xeMli > picture > img {
  object-fit: cover;
}
.text__bPhcE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 72px;
  background: linear-gradient(0deg, #ae609e 0%, #f2d599 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: #eeeeee00;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.text__v3FA8 {
  position: relative;
  font-size: var(--token-JUtwv23tZBen);
}
.freeBox__hUzu0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
  padding: 8px;
}
.reveal___9MmX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__cNjMd {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__cNjMd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__cNjMd > :global(.__wab_flex-container) > *,
.freeBox__cNjMd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cNjMd > :global(.__wab_flex-container) > picture > img,
.freeBox__cNjMd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__emAh4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 72px;
  background: linear-gradient(0deg, #ae609e 0%, #f2d599 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: #eeeeee00;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.text__tjshY {
  position: relative;
  font-size: var(--token-JUtwv23tZBen);
}
.freeBox__xCHe4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(146px + 0px) !important;
  min-width: 0;
  padding: 8px;
}
.freeBox__i6QV5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  margin-right: 46px;
  min-height: 0;
  padding: 25px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i6QV5 {
    margin-right: 0px;
  }
}
.freeBox___0Xbjm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  max-width: 100%;
  background: #ffffff;
  flex-shrink: 0;
  border-radius: 999px;
  padding: 8px;
}
.text___5232X {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
  font-size: var(--token-JUtwv23tZBen);
}
.freeBox__hzcxP {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3px;
  height: auto;
  max-width: 100%;
  left: 31px;
  top: -200px;
  background: linear-gradient(
      0deg,
      #ffffff00 0%,
      #ffffff40 29%,
      #ffffff40 71%,
      #ffffff00 100%
    )
    0% 0% / 100% 100% repeat;
  bottom: -200px;
}
.freeBox__jRtRg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1098px;
  height: auto;
  max-width: 100%;
  min-height: 400px;
  grid-row-gap: 64px;
  grid-column-gap: 32px;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jRtRg {
    grid-template-columns: 1fr;
  }
}
.freeBox__y82TW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  grid-column-end: span 2;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y82TW {
    grid-column-end: span 1;
  }
}
.h2__w7K0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 21px;
  min-width: 0;
}
.text__dI27I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 688px;
  font-size: var(--token-JUtwv23tZBen);
  min-width: 0;
}
.freeBox__uQv4P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.img__wa0O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 196px;
}
.img__wa0O > picture > img {
  object-fit: cover;
}
.freeBox__eppse {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 25px;
  min-width: 0;
  padding: 8px;
}
.freeBox__dqBbg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 128px;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  border-radius: 999px;
  padding: 8px;
  border: 8px solid #30ff59;
}
.text__zHwRw {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-weight: 700;
  font-size: 48px;
}
.text__vMuZr {
  position: relative;
  font-size: var(--token-JUtwv23tZBen);
  margin-left: 24px;
}
.freeBox__kSvz3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__kSvz3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__kSvz3 > :global(.__wab_flex-container) > *,
.freeBox__kSvz3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kSvz3 > :global(.__wab_flex-container) > picture > img,
.freeBox__kSvz3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__kaBzx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 72px;
  background: linear-gradient(0deg, #ae609e 0%, #f2d599 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: #eeeeee00;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.text__fh8Jg {
  position: relative;
  font-size: var(--token-JUtwv23tZBen);
}
.h1__raEyN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 32px;
  text-align: center;
  margin-top: calc(256px + 0px) !important;
  min-width: 0;
}
.freeBox__ygvrq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 1128px;
  height: auto;
  max-width: 100%;
  margin-top: calc(186px + 0px) !important;
  padding: 8px;
}
.freeBox__ygvrq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 51px);
  height: calc(100% + 51px);
}
.freeBox__ygvrq > :global(.__wab_flex-container) > *,
.freeBox__ygvrq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ygvrq > :global(.__wab_flex-container) > picture > img,
.freeBox__ygvrq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 51px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ygvrq {
    display: flex;
    flex-direction: column;
    margin-top: calc(186px + 0px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ygvrq > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ygvrq > :global(.__wab_flex-container) > *,
  .freeBox__ygvrq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ygvrq > :global(.__wab_flex-container) > picture > img,
  .freeBox__ygvrq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__qsYw {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qsYw {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.freeBox__aXSwf {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__aXSwf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__aXSwf > :global(.__wab_flex-container) > *,
.freeBox__aXSwf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aXSwf > :global(.__wab_flex-container) > picture > img,
.freeBox__aXSwf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3__oaJv5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__b09D6 {
  position: relative;
}
.button__zQWvm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg___8Cj7O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rNX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__idq5F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__idq5F {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.freeBox__qkYNm {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qkYNm {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.freeBox__vvlDw {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__vvlDw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__vvlDw > :global(.__wab_flex-container) > *,
.freeBox__vvlDw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vvlDw > :global(.__wab_flex-container) > picture > img,
.freeBox__vvlDw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3__y1DdR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__rokHu {
  position: relative;
}
.button__iTzvv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg__ozd7A {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__frM3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__l0FvO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__l0FvO {
    margin-top: 8px;
    margin-left: 8px;
  }
}
.freeBox___4X3B3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4X3B3 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.freeBox__sGaMf {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__sGaMf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__sGaMf > :global(.__wab_flex-container) > *,
.freeBox__sGaMf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sGaMf > :global(.__wab_flex-container) > picture > img,
.freeBox__sGaMf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3__mrOCo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___8CoMl {
  position: relative;
}
.button__hmY9K:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg___032EP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__gvOqG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__gnhki {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__gnhki {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.freeBox___8DiSw {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8DiSw {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.freeBox__oq0NL {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__oq0NL > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__oq0NL > :global(.__wab_flex-container) > *,
.freeBox__oq0NL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oq0NL > :global(.__wab_flex-container) > picture > img,
.freeBox__oq0NL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3__ctOqB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__ocYfX {
  position: relative;
}
.button__dKo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg__mjq0Y {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__guIk0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xrJWm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__xrJWm {
    margin-top: 8px;
    margin-left: 8px;
  }
}
.img__g1FZm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 460px;
  margin-top: calc(336px + 0px) !important;
}
.img__g1FZm > picture > img {
  object-fit: cover;
}
.h2__loPcp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.freeBox__rQ37O {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__rQ37O > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__rQ37O > :global(.__wab_flex-container) > *,
.freeBox__rQ37O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rQ37O > :global(.__wab_flex-container) > picture > img,
.freeBox__rQ37O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.button___3Bf2I:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__w3MuD {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fq20N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__nQPb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___7U21S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__oRluw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
